body {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;

}
.login-content {
    margin: 0 auto;
    width: 500px;
    height: 300px;
    margin-top: 100px;
    border: 2px solid #0093c4;
    
}
.form-input {
    display: block;
    margin-left: 50px;
    margin-top: 40px;
}
.content {
    display: flex;
    margin-bottom: 20px;
}
.input-item {
    width: 250px;
    margin-left: 50px;
    right: 100px;
    line-height: 25px;
    border: 1px solid #0093c4;
}
.select-item{
    width: 150px;
    margin-left: 50px;
    right: 100px;
    line-height: 25px;
    border: 1px solid #0093c4;
}

.lb{
    background-color: #1e88e5;
    width: 100px;
    padding: 5px;
    color: #ffffff;
    border: 1px solid #0093c4;
    text-align: center;

}
input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -3px;
    position: relative;
    background-color: #1e88e5;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid #1e88e5;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #64dd17;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid white;
}
#radio-content{
    margin-left: 50px;
}
#btn-submit{ 
    color: #ffffff;
    border: 1px solid #0093c4;
    background-color: #64dd17;
    line-height: 30px;
    width: 100px;
    margin-top: 20px;
    margin-left: 150px;
    border-radius: 5px;
}